*{
    margin: 0;
    padding: 0;
}
#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#result,#input{
    width: 70vw;
    height: 10vh;
    background: rgb(179, 168, 168);
    border-radius: 3vh;
    margin-bottom: 10px;
    text-align:right;
    padding-right: 1vh;
    font-size: large;
    font-weight: 700;
}
h2{
    text-align: center;
    color: red;
}
#touchPad{
display: flex;
justify-content: space-around;
align-items: center;
width: 70vw;
height: 60vh;
background: rgb(147 51 234);
border-radius: 5vh;
}
#btns{
    height: 100%;
    width: 20vw;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    }
    #btns>button{
    font-size: large;
    font-weight: 700;
    height: 10%;
    width: 50%;
    border-radius: 1vh;
    border: none;
}
#numbers{
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#numbers>div{
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#numButton>button{
    height: 100%;
    width: fit-content;
    padding: 1vh 2vw;
    font-size: larger;
    font-weight: 700;
    border: none;
    border-radius: 5vw;
}
.threeNo>button{
    height: 100%;
    width: fit-content;
    padding: 1vh 2vw;
    font-size: larger;
    font-weight: 700;
    border: none;
    border-radius: 5vw;
}
#mode{
    position:absolute;
    top: 10vh;
    right: 10vh;
    height: fit-content;
    width: fit-content;
    padding: 1vw 1vw;
    border-radius: 50%;
    border: 2px solid rgb(110, 6, 242);
    background: transparent;
}